# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
env
.env
.env.prod
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

core/backups/
core/static/
core/static/account/js/account.js
core/static/account/js/onload.js
core/static/admin/css/autocomplete.css
core/static/admin/css/base.css
core/static/admin/css/changelists.css
core/static/admin/css/dark_mode.css
core/static/admin/css/dashboard.css
core/static/admin/css/forms.css
core/static/admin/css/login.css
core/static/admin/css/nav_sidebar.css
core/static/admin/css/responsive_rtl.css
core/static/admin/css/responsive.css
core/static/admin/css/rtl.css
core/static/admin/css/unusable_password_field.css
core/static/admin/css/widgets.css
core/static/admin/css/vendor/select2/LICENSE-SELECT2.md
core/static/admin/css/vendor/select2/select2.css
core/static/admin/css/vendor/select2/select2.min.css
core/static/admin/img/calendar-icons.svg
core/static/admin/img/icon-addlink.svg
core/static/admin/img/icon-alert.svg
core/static/admin/img/icon-calendar.svg
core/static/admin/img/icon-changelink.svg
core/static/admin/img/icon-clock.svg
core/static/admin/img/icon-deletelink.svg
core/static/admin/img/icon-hidelink.svg
core/static/admin/img/icon-no.svg
core/static/admin/img/icon-unknown-alt.svg
core/static/admin/img/icon-unknown.svg
core/static/admin/img/icon-viewlink.svg
core/static/admin/img/icon-yes.svg
core/static/admin/img/inline-delete.svg
core/static/admin/img/LICENSE
core/static/admin/img/README.txt
core/static/admin/img/search.svg
core/static/admin/img/selector-icons.svg
core/static/admin/img/sorting-icons.svg
core/static/admin/img/tooltag-add.svg
core/static/admin/img/tooltag-arrowright.svg
core/static/admin/img/gis/move_vertex_off.svg
core/static/admin/img/gis/move_vertex_on.svg
core/static/admin/js/actions.js
core/static/admin/js/autocomplete.js
core/static/admin/js/calendar.js
core/static/admin/js/cancel.js
core/static/admin/js/change_form.js
core/static/admin/js/core.js
core/static/admin/js/filters.js
core/static/admin/js/inlines.js
core/static/admin/js/jquery.init.js
core/static/admin/js/nav_sidebar.js
core/static/admin/js/popup_response.js
core/static/admin/js/prepopulate_init.js
core/static/admin/js/prepopulate.js
core/static/admin/js/SelectBox.js
core/static/admin/js/SelectFilter2.js
core/static/admin/js/theme.js
core/static/admin/js/unusable_password_field.js
core/static/admin/js/urlify.js
core/static/admin/js/admin/DateTimeShortcuts.js
core/static/admin/js/admin/RelatedObjectLookups.js
core/static/admin/js/vendor/jquery/jquery.js
core/static/admin/js/vendor/jquery/jquery.min.js
core/static/admin/js/vendor/jquery/LICENSE.txt
core/static/admin/js/vendor/select2/LICENSE.md
core/static/admin/js/vendor/select2/select2.full.js
core/static/admin/js/vendor/select2/select2.full.min.js
core/static/admin/js/vendor/select2/i18n/af.js
core/static/admin/js/vendor/select2/i18n/ar.js
core/static/admin/js/vendor/select2/i18n/az.js
core/static/admin/js/vendor/select2/i18n/bg.js
core/static/admin/js/vendor/select2/i18n/bn.js
core/static/admin/js/vendor/select2/i18n/bs.js
core/static/admin/js/vendor/select2/i18n/ca.js
core/static/admin/js/vendor/select2/i18n/cs.js
core/static/admin/js/vendor/select2/i18n/da.js
core/static/admin/js/vendor/select2/i18n/de.js
core/static/admin/js/vendor/select2/i18n/dsb.js
core/static/admin/js/vendor/select2/i18n/el.js
core/static/admin/js/vendor/select2/i18n/en.js
core/static/admin/js/vendor/select2/i18n/es.js
core/static/admin/js/vendor/select2/i18n/et.js
core/static/admin/js/vendor/select2/i18n/eu.js
core/static/admin/js/vendor/select2/i18n/fa.js
core/static/admin/js/vendor/select2/i18n/fi.js
core/static/admin/js/vendor/select2/i18n/fr.js
core/static/admin/js/vendor/select2/i18n/gl.js
core/static/admin/js/vendor/select2/i18n/he.js
core/static/admin/js/vendor/select2/i18n/hi.js
core/static/admin/js/vendor/select2/i18n/hr.js
core/static/admin/js/vendor/select2/i18n/hsb.js
core/static/admin/js/vendor/select2/i18n/hu.js
core/static/admin/js/vendor/select2/i18n/hy.js
core/static/admin/js/vendor/select2/i18n/id.js
core/static/admin/js/vendor/select2/i18n/is.js
core/static/admin/js/vendor/select2/i18n/it.js
core/static/admin/js/vendor/select2/i18n/ja.js
core/static/admin/js/vendor/select2/i18n/ka.js
core/static/admin/js/vendor/select2/i18n/km.js
core/static/admin/js/vendor/select2/i18n/ko.js
core/static/admin/js/vendor/select2/i18n/lt.js
core/static/admin/js/vendor/select2/i18n/lv.js
core/static/admin/js/vendor/select2/i18n/mk.js
core/static/admin/js/vendor/select2/i18n/ms.js
core/static/admin/js/vendor/select2/i18n/nb.js
core/static/admin/js/vendor/select2/i18n/ne.js
core/static/admin/js/vendor/select2/i18n/nl.js
core/static/admin/js/vendor/select2/i18n/pl.js
core/static/admin/js/vendor/select2/i18n/ps.js
core/static/admin/js/vendor/select2/i18n/pt-BR.js
core/static/admin/js/vendor/select2/i18n/pt.js
core/static/admin/js/vendor/select2/i18n/ro.js
core/static/admin/js/vendor/select2/i18n/ru.js
core/static/admin/js/vendor/select2/i18n/sk.js
core/static/admin/js/vendor/select2/i18n/sl.js
core/static/admin/js/vendor/select2/i18n/sq.js
core/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
core/static/admin/js/vendor/select2/i18n/sr.js
core/static/admin/js/vendor/select2/i18n/sv.js
core/static/admin/js/vendor/select2/i18n/th.js
core/static/admin/js/vendor/select2/i18n/tk.js
core/static/admin/js/vendor/select2/i18n/tr.js
core/static/admin/js/vendor/select2/i18n/uk.js
core/static/admin/js/vendor/select2/i18n/vi.js
core/static/admin/js/vendor/select2/i18n/zh-CN.js
core/static/admin/js/vendor/select2/i18n/zh-TW.js
core/static/admin/js/vendor/xregexp/LICENSE.txt
core/static/admin/js/vendor/xregexp/xregexp.js
core/static/admin/js/vendor/xregexp/xregexp.min.js
core/static/debug_toolbar/css/print.css
core/static/debug_toolbar/css/toolbar.css
core/static/debug_toolbar/js/history.js
core/static/debug_toolbar/js/redirect.js
core/static/debug_toolbar/js/timer.js
core/static/debug_toolbar/js/toolbar.js
core/static/debug_toolbar/js/utils.js
core/static/index/css/layout.css
core/static/telegram/js/telegram.js
